.App {
  text-align: center;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.coffee-list {
  margin-bottom: 15px;
}

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 40px;
}
